---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dieto-Cal">
	<main class="w-full md:h-screen flex flex-col justify-start pt-8 gap-7 items-center">
		<section class="w-full flex flex-col justify-center items-center">
			<h1 class="text-3xl md:text-5xl text-gray-600 font-bold">Calculadora de Dietoterapia</h1>
			<p class="text-xl  text-gray-600 font-bold text-center w-11/12 md:w-3/6">
				Esta es una calculadora de dietoterapia que te ayudará a calcular
				las necesidades nutricionales de tus pacientes.
			</p>
		</section>

		<section
			title="Formulario"
			class="mt-4 w-full flex flex-col justify-center items-center"
		>
			<form
				action=""
				class="w-10/12 md:w-9/12 flex flex-col justify-center gap-4 items-center"
			>
				<div class="flex flex-col md:flex-row justify-between items-start w-full md:w-3/6">
					<div class="flex flex-col justify-center items-start w-full md:w-2/5">
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="peso">Peso</label
						>
						<input
							class="rounded-xl shadow-lg pl-1 h-10 w-full"
							type="number"
							name="peso"
							id="peso"
							placeholder="Peso en kg"
							required
						/>
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="talla">Altura</label
						>
						<input
							class="rounded-xl shadow-lg pl-1 h-10 w-full"
							type="number"
							name="talla"
							id="talla"
							placeholder="Altura en cm"
							required
						/>
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="edad">Edad</label
						>
						<input
							class="rounded-xl shadow-lg pl-1 h-10 w-full"
							type="number"
							name="edad"
							id="edad"
							placeholder="Edad en años"
							required
						/>
					</div>

					<div class="flex flex-col justify-center items-start w-full md:w-2/5 mt-4 md:mt-0">
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="sexo">Sexo</label
						>
						<select
							class="shadow-lg h-10 rounded-lg text-gray-500 w-full"
							name="sexo"
							id="sexo"
						>
							<option value="hombre">Hombre</option>
							<option value="mujer">Mujer</option>
						</select>
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="actividad">Actividad Física</label
						>
						<select
							class="shadow-lg h-10 rounded-lg text-gray-500 w-full"
							name="actividad"
							id="actividad"
						>
							<option value="sedentario">Sedentario</option>
							<option value="ligero">Ligero</option>
							<option value="moderado">Moderado</option>
							<option value="intenso">Intenso</option>
						</select>
						<label
							class="text-gray-600 font-semibold text-lg font-sans"
							for="objetivo">Objetivo</label
						>
						<select
							class="shadow-lg h-10 rounded-lg text-gray-500 w-full"
							name="objetivo"
							id="objetivo"
						>
							<option value="perder">Perder Peso</option>
							<option value="mantener">Mantener Peso</option>
							<option value="ganar">Ganar Peso</option>
						</select>
					</div>
				</div>
				<button
					class="w-full md:w-3/6 rounded-lg bg-blue-500 text-white font-bold text-3xl h-10"
					type="submit">Calcular</button
				>
			</form>
		</section>

		<dialog id="modal" class="bg-gray-800 rounded-lg p-1 w-full h-[55vh] md:h-[40vh] md:w-2/4 ">
			<div
				class="w-full h-full flex flex-col gap-4 justify-center items-start"
			>
				<h1 class="font-bold text-2xl text-white">
					IMC 👉
					<span
						id="resultado"
						class="text-white font-semibold text-xl md:text-3xl">--------</span
					>
				</h1>
				<h1 class="font-bold text-2xl text-white">
					Estado 👉
					<span id="estado" class="text-white font-semibold  text-xl md:text-3xl"
						>--------</span
					>
				</h1>
				<h1 class="font-bold text-2xl text-white">
					Recomendacion 👉
					<span
						id="recomendacion"
						class="text-white w-full md:w-2/4 font-semibold text-lg md:text-xl">--------</span
					>
				</h1>
				<button id="closeModal" class=" bg-red-500 h-10 font-bold text-white rounded-lg px-4 ">Cerrar</button>
			</div>
			
		</dialog>
	</main>
	<script>
		const form = document.querySelector("form") as HTMLFormElement;
		const resultado = document.querySelector(
			"#resultado",
		) as HTMLSpanElement;
		const estado = document.querySelector("#estado") as HTMLSpanElement;
		const recomendacion = document.querySelector(
			"#recomendacion",
		) as HTMLSpanElement;
		const modal = document.querySelector("#modal") as HTMLDialogElement;
		const closeModal = document.querySelector("#closeModal") as HTMLButtonElement;

		type Categoria = "bajo_peso" | "peso_normal" | "sobrepeso" | "obesidad";

		const dataDietas: {
			categorias: {
				[key in Categoria]: {
					descripcion: string;
					dietas: string[];
				};
			};
		} = {
			categorias: {
				bajo_peso: {
					descripcion:
						"Dietas enfocadas en el aumento de peso de manera saludable.",
					dietas: [
						"Dieta hipercalórica",
						"Dieta rica en proteínas",
						"Dieta con suplementos de carbohidratos",
						"Dieta mediterránea adaptada",
						"Dieta alta en grasas saludables",
					],
				},
				peso_normal: {
					descripcion:
						"Dietas equilibradas para mantener un peso saludable.",
					dietas: [
						"Dieta mediterránea",
						"Dieta equilibrada",
						"Dieta DASH",
						"Dieta rica en fibra",
						"Dieta basada en plantas",
					],
				},
				sobrepeso: {
					descripcion:
						"Dietas para reducir el peso de forma controlada.",
					dietas: [
						"Dieta baja en carbohidratos",
						"Dieta cetogénica",
						"Dieta de restricción calórica",
						"Dieta paleo",
						"Dieta baja en grasas",
					],
				},
				obesidad: {
					descripcion:
						"Dietas enfocadas en la pérdida de peso para mejorar la salud.",
					dietas: [
						"Dieta baja en carbohidratos estricta",
						"Dieta cetogénica terapéutica",
						"Dieta de muy bajas calorías (VLCD)",
						"Dieta de sustitución de comidas",
						"Dieta alta en proteínas y baja en grasas",
					],
				},
			},
		};

		form.addEventListener("submit", (e) => {
			e.preventDefault();
			const peso = (document.querySelector("#peso") as HTMLInputElement)
				.valueAsNumber;
			const talla = (document.querySelector("#talla") as HTMLInputElement)
				.valueAsNumber;
			const edad = (document.querySelector("#edad") as HTMLInputElement)
				.valueAsNumber;
			const sexo = (document.querySelector("#sexo") as HTMLSelectElement)
				.value;
			const actividad = (
				document.querySelector("#actividad") as HTMLSelectElement
			).value;
			const objetivo = (
				document.querySelector("#objetivo") as HTMLSelectElement
			).value;

			const imc = peso / (talla / 100) ** 2;
			let categoria = "";
			let mensaje = "";

			if (imc < 18.5) {
				categoria = "bajo_peso";
				mensaje = "Bajo peso";
			} else if (imc >= 18.5 && imc < 24.9) {
				categoria = "peso_normal";
				mensaje = "Peso normal";
			} else if (imc >= 25 && imc < 29.9) {
				categoria = "sobrepeso";
				mensaje = "Sobrepeso";
			} else {
				categoria = "obesidad";
				mensaje = "Obesidad";
			}

			const dietas = dataDietas.categorias[categoria as Categoria].dietas;
			const descripcion =
				dataDietas.categorias[categoria as Categoria].descripcion;

			resultado.textContent = `${imc.toFixed(2)}`;
			estado.textContent = mensaje;
			recomendacion.textContent = `${descripcion}. Recomendaciones de dietas: ${dietas.join(", ")}`;

			modal.showModal();
		});

		closeModal.addEventListener("click", () => {
			modal.close();
			form.reset();
		});
	</script>
</Layout>
